@font-face {
    font-family: 'junicodeboldcondensed';
    src: url('Junicode-BoldCondensed-webfont.eot');
    src: url('Junicode-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('Junicode-BoldCondensed-webfont.woff2') format('woff2'),
         url('Junicode-BoldCondensed-webfont.woff') format('woff'),
         url('Junicode-BoldCondensed-webfont.ttf') format('truetype'),
         url('Junicode-BoldCondensed-webfont.svg#junicodeboldcondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
